<html>

<head>
    <link rel="stylesheet" href="index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <div>
            <p>'{{ primerMensaje }}'</p>
            <input v-model.lazy.trim="segundoMensaje" />
            <button v-on:click="cambiaText(segundoMensaje,$event)">Cambiame</button>
        </div>
        <div>
            <p> textarea </p>
            <textarea v-model="area"></textarea>
        </div>
        <div>
            <p>checkbox</p>
            <label for="txtSeleccionado">Seleccionado</label>
            <input id="txtSeleccionado" name="txtSeleccionado" type="checkbox" v-model="isSelected" />
            <small>selected : {{isSelected}}</small>

            <small v-if="isSelected">IF-SI</small>
            <small v-if="!isSelected">IF-NO</small>
        </div>
        <div>
            <p>checklist</p>
            <label>
                <input type="checkbox" value="option1" v-model="listOfCheckboxes" />
            </label>
            <label>
                <input type="checkbox" value="option2" v-model="listOfCheckboxes" />
            </label>
            <small>selected : {{listOfCheckboxes}}</small>
        </div>
        <div>
            <p>Radio buttons</p>
            <label>
                <input type="radio" value="optRdButton1" v-model="listOfRadioButton" />
            </label>
            <label>
                <input type="radio" value="optRdButton2" v-model="listOfRadioButton" />
            </label>
            <small>selected : {{listOfRadioButton}}</small>
        </div>
        <div>
            <p>Dropdown-De array</p>
            <select v-model="selectedDropDownOption">
                <option v-for="(opt, index) in optionsForDropDown" :value="opt">{{ index }} - {{ opt }}</option>
            </select>
            <small>selected : {{selectedDropDownOption}}</small>
        </div>
        <div>
            <p>Dropdown-De array de objetos</p>
            <select v-model="selectedDropDownOptionObject">
                <option v-for="(item, index) in optionsDropDownObjectArray" :value="item.val">{{ index }} - {{ item.val }}</option>
            </select>
            <small>selected : {{selectedDropDownOptionObject}}</small>
        </div>
        <div>
            <p>Dropdown multiple</p>
            <select multiple v-model="selectedDropDownMultiple">
                <option v-for="opt in optionsForDropDownMultiple" :value="opt">{{opt}}</option>
            </select>
            <small>selected : {{selectedDropDownMultiple}}</small>
        </div>
        <div>
            <ol>
                <todo-item v-for="item in groceryList" v-bind:todo="item" v-bind:key="item.key">
                </todo-item>
            </ol>
        </div>
        <div>
            <p>Prevent modifier</p>
            <div>
                <form action="#" method="GET">
                    <input v-model="inputValue" id="txtInputValue" />
                    <button type="submit" v-on:click.prevent="executeSearch">Search</button>
                </form>
            </div>
        </div>
        <div>
            <p>Stop propagation</p>
            <p>ayuda a evitar el propagation de los events de la pagina</p>
            <div v-on:click="grandparentStopClick">
                <div v-on:click="parentStopClick">
                    <button type="button" v-on:click.stop="executeStopSearch">
                        Search
                    </button>
                </div>
            </div>
        </div>
        <div>
            <p>mouse click</p>
            <div>
                <button type="button" v-on:click.left="executeLeftClick">
                    Left
                </button>
                <button type="button" v-on:click.right="executeRightClick">
                    Right
                </button>
            </div>
        </div>
        <div>
            <p>
                Ejemplo de v-for y v-if
            </p>
                <input v-model="filtradorMonto" type="range" min="0" max="100">
                <small>{{filtradorMonto}}</small>
                <button type="button" v-on:click="sortClickList">Sort</button>
                <h4>Listado</h4>
                <ul>
                    <li v-for="item in listadoObjetosVForVIF"
                        v-if="item.val < filtradorMonto">
                        {{item.nombre}}
                    </li>
                </ul>
                    
                
            </div>
        </div>
    </div>
    
    <script type="text/x-template" id="todoItem-template">
        <li># : {{todo.text}}</li>
    </script>
    <!-- <script src="todoItem.componet.vue"></script> -->
    <script src="todoItem.componet.js"></script>
    <script src="index.js"></script>
</body>

</html>